/* KalipsoNext Style */
@charset 'utf-8'; :root {
    --transition: 0.2s ease-out;
}

@keyframes alertOpacityOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.management-panel ::-webkit-scrollbar {
    width: 7px!important;
    height: 7px!important
}

.management-panel ::-webkit-scrollbar-track {
    background: var(--bs-gray-300);
    border-radius: 0
}

.management-panel ::-webkit-scrollbar-thumb {
    background: var(--bs-gray-900);
}

.management-panel ::-webkit-scrollbar-thumb:hover {
    background: var(--bs-gray-600)
}

.management-panel::selection {
    color: #fff;
    background: var(--bs-primary);
}

.management-panel #nprogress :is(.bar, .spinner) {
    z-index: 1099 !important;
}

body.management-panel {
    font-family: 'Manrope', sans-serif;
    background: #f9fafb! important;
    color: #000;
}

.management-panel :is(p, h1, h2, h3, h4, h5, h6) {
    font-family: 'Manrope', sans-serif;
}

.management-panel a {
    text-decoration: none !important;
}

.management-panel .form-control:focus, .management-panel .form-select:focus {
    box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 10%);
    border-color: var(--bs-blue);
}

.management-panel .form-control, .management-panel .form-select {
    border-width: 2px;
}

.management-panel .wrap {
    min-height: 100vh;
    padding-top: 4rem;
}

.sandbox {
    background: var(--bs-dark);
    color: var(--bs-light);
    min-height: 100vh;
    padding-top: 10rem;
    font-family: 'Manrope', sans-serif;
}

.sandbox p, .sandbox h1, .sandbox h2, .sandbox h3, .sandbox h4, .sandbox h5, .sandbox h6 {
    font-family: 'Manrope', sans-serif;
}

.sandbox a {
    text-decoration: none;
}

.management-panel .btn {
    font-weight: 600;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    -webkit-box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.2);
    box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.2);
}

.management-panel .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-link:hover, .btn-link:focus {
    color: var(--dark-color);
    -webkit-box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.5);
    box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.5);
}

.hover-transform:focus, .hover-transform:hover {
    -webkit-transform: translate3d(0,-3px,0);
    transform: translate3d(0,-3px,0);
}

.management-panel .card {
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0 0 20 / 8%), 0 1px 2px rgb(0 0 20 / 8%) !important;
}

.management-panel .card-body {
    padding: 1.5rem;
}

.management-panel .tooltip {
    font-family: 'Manrope', sans-serif;
}

.management-panel .dropdown-menu {
    padding: 0.5rem;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 25%);
    border-radius: 0.4rem;
    border: none;
}

.management-panel .dropdown-menu .dropdown-item {
    border-radius: 0.2rem;
    padding: 0.3rem 0.5rem;
}

.management-panel .dropdown-menu li + li {
    margin-top: 0.2rem;
}

.management-panel .dropdown-item:focus, .dropdown-item:hover {
    color: #000;
    background-color: var(--bs-gray-200);
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.management-panel .navbar .navbar-nav .nav-item .nav-link {
    border-radius: 0.4rem;
    color: #e7e7e7;
}

.management-panel .navbar.navbar-side .navbar-nav .nav-item .nav-link {
    position: relative;
    font-size: 0.9rem;
}

.management-panel .navbar.navbar-side .navbar-nav .nav-item .nav-link.active:before {
    left: -0.1rem;
    top: 0.5rem;
    bottom: 0.5rem;
    width: 0.2rem;
    content: '';
    border-radius: 0.2rem;
    background: var(--bs-primary);
    position: absolute;
}

.management-panel .navbar {
    color: var(--bs-light);
}

.management-panel .navbar .navbar-nav .nav-item .nav-link:hover, .management-panel .navbar .navbar-nav .nav-item .nav-link.active {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.management-panel .navbar .navbar-nav .nav-item + .nav-item {
    margin-left: 0.2rem;
}

.management-panel .navbar .vr {
    margin: 0.5rem;
}

.kn-toast-alert {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    z-index: 1100;
    pointer-events: none;
}

.kn-toast-alert .kn-alert {
    display: block;
    width: auto;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    background: #000;
    box-shadow: 0 0.2rem 0.5rem #0005;
    color: #fff;
}

.kn-toast-alert .kn-alert + .kn-alert {
    margin-top: 0.5rem;
}

.kn-toast-alert .kn-alert.out {
    animation: alertOpacityOut 1s;
}

.kn-toast-alert .kn-alert-danger {
    background: var(--bs-danger);
}

.kn-toast-alert .kn-alert-success {
    background: var(--bs-success);
}

.kn-toast-alert .kn-alert-warning {
    background: var(--bs-warning);
    color: #000;
}

.management-panel .navbar.admin-nav .vr {
    color: #000;
}

@media (max-width: 1200px) {
    .management-panel .navbar-side .navbar-nav .nav-item + .nav-item {
        margin-left: 0;
        margin-top: 0.2rem;
    }

    .management-panel .navbar .navbar-nav + .navbar-nav {
        margin-top: 0.2rem;
    }

    .management-panel .navbar .navbar-nav .nav-item .nav-link {
        padding: 0.5rem;
    }

    .management-panel .navbar-toggler {
        z-index: 5;
        background: transparent;
        border-color: transparent;
        transition: 0.2s ease-out;
        position: relative;
    }

    .management-panel .navbar-toggler:hover, .management-panel .navbar-toggler:focus {
        background: transparent;
        border-color: transparent;
        box-shadow: none;
    }

    .management-panel .navbar-toggler .menu-btn {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .management-panel .navbar-toggler .menu-btn span, .management-panel .navbar-toggler .menu-btn:before, .management-panel .navbar-toggler .menu-btn:after {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        border-bottom: 2px solid #fff;
        border-radius: 0.4rem;
        transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .management-panel .navbar-toggler .menu-btn:before {
        transform: translateY(-8px);
    }

    .management-panel .navbar-toggler .menu-btn:after {
        transform: translateY(8px);
    }

    .management-panel .navbar-toggler[aria-expanded="true"] .menu-btn span {
        transform: scaleX(0);
    }

    .management-panel .navbar-toggler[aria-expanded="true"] .menu-btn:before {
        transform: rotate(45deg);
        border-color: #fff;
    }

    .management-panel .navbar-toggler[aria-expanded="true"] .menu-btn:after {
        transform: rotate(-45deg);
        border-color: #fff;
    }
}

[data-kn-form] {
    position: relative;
}

[data-kn-form] .form-loader {
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: -0.4rem;
    border-radius: 0.4rem;
    background: rgb(0 0 0 / 50%);
    backdrop-filter: blur(2px);
    z-index: 5;
    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-event: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-out;
}

[data-kn-form].sending .form-loader {
    pointer-event: all;
    opacity: 1;
    cursor: progress;
    visibility: visible;
}

.management-panel nav.navbar-side {
    width: 16rem;
    height: 100vh;
    position: fixed;
    display: flex;
    z-index: 1001;
    left: 0rem;
    top: 0rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.2s ease-out;
    overflow-y: auto;
}

.management-panel nav.navbar-side .container-fluid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.management-panel nav.navbar-side .navbar-brand {
    font-size: 1.2rem;
    width: 100%;
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0;
}

.management-panel nav.navbar-side .navbar-brand .h6 {
    font-size: 0.7rem;
}

.management-panel nav.navbar-side .navbar-collapse {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.management-panel nav.navbar-side .navbar-nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
}

.management-panel nav.navbar-side .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
    margin-top: 0.2rem;
}

.management-panel .navbar-side .nav-icon {
    margin-right: 0.5rem;
}

.management-panel .navbar-side-toggler {
    z-index: 5;
    background: transparent;
    border-color: transparent;
    transition: 0.2s ease-out;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.2rem 0.4rem;
    display: none;
    cursor: pointer !important;
}

.management-panel .navbar-side-toggler:hover, .navbar-side-toggler:focus {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
}

.management-panel .navbar-side-toggler .menu-btn {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.management-panel .navbar-side-toggler .menu-btn span, .management-panel .navbar-side-toggler .menu-btn:before, .management-panel .navbar-side-toggler .menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    border-bottom: 2px solid currentColor;
    border-radius: 0.4rem;
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.management-panel .navbar-side-toggler .menu-btn:before {
    transform: translateY(-8px);
}

.management-panel .navbar-side-toggler .menu-btn:after {
    transform: translateY(8px);
}

.management-panel .side-opened .navbar-side-toggler {
    position: absolute;
    margin-left: 13rem;
    z-index: 1001;
}

.management-panel .side-opened .navbar-side-toggler .menu-btn span {
    transform: scaleX(0);
}

.management-panel .side-opened .navbar-side-toggler .menu-btn:before {
    transform: rotate(45deg);
    border-color: #fff;
}

.management-panel .side-opened .navbar-side-toggler .menu-btn:after {
    transform: rotate(-45deg);
    border-color: #fff;
}

.management-panel .wrap-content {
    margin-left: 16rem;
    min-height: 100vh;
    transition: 0.2s ease-out;
}

.management-panel nav.navbar-side .navbar-nav .nav-item.nav-group {
    text-transform: uppercase;
    font-size: 0.7rem;
    color: #444242;
    font-weight: 800;
    margin-top: 1rem;
}

.management-panel .dash-header {
    padding: 4rem 2rem 9rem;
    color: #fff;
    background: var(--bs-primary);
    background: linear-gradient(180deg, var(--bs-primary) 0%, var(--bs-info) 100%);
}

.management-panel .dash-header h1 {
    letter-spacing: -0.1rem;
}

.management-panel .dash-header p {
    margin: 0;
    font-weight: 400;
    font-size: 1.2rem;
}

.management-panel .dash-content {
    margin-top: -5rem;
    min-height: 66vh;
}

.management-panel .dash-content>div {
    min-height: 10vh;
}

.management-panel .dash-icon {
    font-size: 1.5rem;
    padding: 0.2rem 0.6rem;
    border-radius: 0.4rem;
    background: var(--bs-primary);
    color: var(--bs-light);
    box-shadow: 0 0.2rem 0.6rem var(--bs-gray-500);
}

.management-panel .dash-footer {
    font-size: 0.8rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

.management-panel .editor .ql-editor {
    min-height: 150px;
}

.management-panel .ql-container {
    font-family: 'Manrope', sans-serif;
}

.management-panel img.table-image {
    width: 6rem;
    height: 3rem;
    object-fit: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.management-panel .image-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.management-panel .image-group a img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #fff;
    filter: drop-shadow(-1px 2px 2px rgba(0,0,0,0.3));
}

.management-panel .image-group a {
    position: relative;
}

.management-panel .image-group a button {
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--bs-danger);
    border-radius: 0.4rem;
    border: 0;
    color: #fff;
    opacity: 0.4;
    pointer-events: none;
}

.management-panel .image-group a:hover {
    z-index: 1;
}

.management-panel .image-group a:hover button {
    opacity: 1;
    pointer-events: all;
}

.management-panel .image-group a + a {
    margin-left: -1.2rem;
}

.management-panel .form-floating {
    width: 100%;
}

.management-panel .navbar-dark .navbar-nav .nav-item.danger a {
    color: #fff;
    background: rgb(0 0 0 / 10%);
}

.management-panel .navbar-dark .navbar-nav .nav-item.danger a:hover {
    color: #fff;
    background: var(--bs-danger);
}

.management-panel .kn-multilang-content .tab-content {
    padding: 0.2rem;
    background: #e5e5e5;
    border-radius: 0.2rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.management-panel .kn-multilang-content .kn-multilang-content-switch {
    padding: 0;
}

.management-panel .kn-multilang-content .kn-multilang-content-switch .nav .nav-link {
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #7e7d7d;
}

.management-panel .kn-multilang-content .kn-multilang-content-switch .nav .nav-link.active {
    color: #919191;
    background: #e5e5e5;
}

.management-panel .ql-toolbar, .management-panel .ql-container {
    background: #fff;
}

.management-panel .kn-menu-item {
    background: rgb(0 0 0 / 10%);
    border-radius: 0.2rem;
    border: 1px solid rgb(0 0 0 / 35%);
}

.management-panel .kn-menu-item + .kn-menu-item {
    margin-top: 0.5rem;
}

.management-panel .kn-menu-drag {
    margin: 1rem 0;
}

.management-panel .kn-menu-item.draggable-source--is-dragging {
    opacity: 0.2;
}

.management-panel .kn-menu-item .kn-menu-item {
    margin-left: 1rem;
}

.management-panel .kn-menu-item .card {
    margin-right: 0.5rem;
}

.management-panel .kn-menu-item .kn-multilang-content-switch .nav .nav-link {
    background: #fff;
    color: #686868;
}

.management-panel .kn-menu-item .kn-multilang-content-switch .nav .nav-link.active {
    background: #686868;
    color: #fff;
}

.management-panel .kn-menu-item .kn-multilang-content .tab-content {
    background: #686868
}

.management-panel i.ti {
    pointer-events: none;
}

.management-panel .kalipso-table td i.ti {
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    .management-panel nav.navbar-side {
        left: -16rem;
    }

    .management-panel .side-opened nav.navbar-side {
        left: 0rem;
    }

    .management-panel .wrap-content {
        margin-left: 0rem;
        min-height: 100vh;
    }

    .management-panel .navbar-side-toggler {
        display: block;
    }
}

@media (min-width: 1200px) {
    .modal-xxl {
        max-width: 1600px;
    }
}
